@media screen and (min-width: 1440px) {

  .diagram {
    padding: 40px max(20px, calc(50% - 720px));
  }

  .rain {
    padding: 40px max(20px, calc(50% - 720px));
  }
  
}

@media screen and (min-width: 1281px) and (max-width: 1439px) {
  .diagram {
    padding: 40px 80px;
  }
}

@media screen and (min-width: 780px) and (max-width: 1280px) {
  .text h2 {
    font-size: 3rem;
  }

  .text h3 {
    font-size: 1.7rem;
  }

  .text p {
    font-size: 1.4rem;
  }

  .headline {
    padding: 80px 60px 40px;
  }

  .headline_top {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .diagram_top {
    flex-wrap: wrap;
  }

  .author {
    max-width: 300px;
  }
}

@media screen and (min-width: 480px) and (max-width: 779px) {
  .nav_bar_link_container {
    display: none;
  }

  .headline {
    padding: 80px 35px 40px;
  }

  .headline_top {
    flex-wrap: wrap;
    justify-content: center;
  }

  .headline_text {
    padding: 0 0 20px;
  }

  .text h3 {
    font-size: 1.6rem;
  }

  .text h2 {
    font-size: 3rem;
  }

  .text p {
    font-size: 1.4rem;
  }

  .info_wrapper {
    flex-wrap: wrap;
    gap: 8px;
  }

  .info_wrapper p {
    font-size: 0.75rem;
  }

  .headline_bottom p {
    font-size: 1.2rem;
  }

  .author {
    max-width: 300px;
  }

  .rain {
    padding: 20px 40px;
  }

  .rain_top img {
    width: 100%;
    height: auto;
  }

  .rain_bottom {
    font-size: 1.25rem;
  }

  .diagram {
    padding: 20px 40px;
  }

  .diagram_top {
    flex-direction: column;
  }

  .left p {
    font-size: 1.25rem;
    line-clamp: 6;
  }

  .left img {
    width: 100%;
    height: auto;
  }

  .right p {
    font-size: 1.25rem;
    line-clamp: 6;
  }

  .right img {
    width: 100%;
    height: auto;
  }

  .diagram_bottom {
    font-size: 1.25rem;
  }

  .video_share p {
    font-size: clamp(1rem, 4vw, 1.5rem);
  }

  .video_share_info > img {
    width: 60px;
    position: absolute;
    top: -30px;
    left: -20px;
  }

  .video_share_info > a {
    padding-top: 5px;
  }
}

@media screen and (max-width: 479px) {
  .nav_bar_link_container {
    display: none;
  }

  .headline {
    padding: 80px 20px 40px;
  }

  .headline_top {
    flex-direction: column;
  }

  .headline_wrapper {
    padding-bottom: 20px;
  }

  .headline_bottom p {
    font-size: 0.8rem;
    line-clamp: 6;
  }

  .headline_text {
    padding-right: 0;
  }

  .text > h3 {
    font-size: 1rem;
  }

  .text > h2 {
    font-size: 2rem;
  }

  .text p {
    font-size: 1rem;
    line-clamp: 4;
  }

  .info_wrapper {
    flex-wrap: wrap;
    gap: 8px;
  }

  .info_wrapper p {
    font-size: 0.75rem;
  }

  .author {
    width: 100%;
    height: 330px;
  }

  .author p {
    font-size: 0.8rem;
  }

  .rain {
    padding: 40px 20px 10px;
  }
  .rain_top {
    padding-bottom: 20px;
  }

  .rain_top h3 {
    font-size: 1.5rem;
  }

  .rain_top > img {
    width: 100%;
    height: auto;
  }

  .rain_bottom {
    font-size: 1rem;
  }

  .diagram {
    padding: 20px;
  }

  .diagram_top {
    flex-direction: column;
  }

  .diagram_top h3 {
    font-size: 1.5rem;
  }

  .left p {
    font-size: 1rem;
    line-clamp: 6;
  }

  .left img {
    width: 100%;
    height: auto;
  }

  .right p {
    font-size: 1rem;
    line-clamp: 6;
  }

  .right img {
    width: 100%;
    height: auto;
  }

  .diagram_bottom {
    font-size: 1rem;
  }

  .video_share p 
  {
    font-size: clamp(0.8rem, 4vw, 1rem);
  }

  .video_share_info > img {
    width: 40px;
    position: absolute;
    top: -20px;
    left: -10px;
  }

  .video_share_info > a {
    padding-top: 5px;
  }

  .video_share_info > a > img {
    width: 100px;
  }
}


