header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--primary-green-color);
    width: 100%;
    padding: 32px 120px;
}

.nav_bar {
    display: flex;
    align-items: center;
    gap: 100px;
}

.nav_bar>a {
    font-family: 'Arima';
    font-size: 1.5rem;
    color: rgba(248, 245, 235, 1);
    text-decoration: none;
}

.nav_bar>img {
    height: 72px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-green-color);
    width: 100%;
    padding: 60px 120px;
}

.footer_imprint{
display: flex;
align-items: center;
}

.footer_imprint>img{
    height: 24px;
    padding: 4px;
}

.footer_imprint-text{
    display: flex;
    gap: 72px;
}

.footer_imprint-text>p{
    font-family: 'Palanquin';
    color: rgba(248, 245, 235, 1);
    white-space: nowrap;
    font-size: 1rem;
}

.footer_socialmedia{
    display: flex;
    gap: 16px;
}