header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--primary-green-color);
    width: 100%;
    padding: 32px 120px;
}

.nav_bar {
    display: flex;
    align-items: center;
    gap: 100px;
}

.nav_bar_link_container a {
    width: 100%;
    font-family: 'Arima';
    font-size: 1.5rem;
    color: rgba(248, 245, 235, 1);
    text-decoration: none;
}

.nav_bar a:hover {
    color: var(--secondary-yellow-color);
}

.nav_bar >img {
    height: 72px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-green-color);
    width: 100%;
    padding: 60px 120px;
}

.footer_imprint {
    display: flex;
    align-items: center;
}

.footer_imprint>img {
    height: 24px;
    padding: 4px;
}

.footer_imprint_text {
    display: flex;
    gap: 72px;
}

.footer_imprint_c{
    display: flex;
    gap: 8px;
}

.footer_imprint_text p {
    font-family: 'Palanquin';
    color: rgba(248, 245, 235, 1);
    white-space: nowrap;
    font-size: 1rem;
}

.footer_imprint_text>a {
    font-family: 'Palanquin';
    color: rgba(248, 245, 235, 1);
    white-space: nowrap;
    font-size: 1rem;
    text-decoration: none;
}

.footer_socialmedia {
    display: flex;
    gap: 16px;
}

.footer_responsive {
    display: none;
}



@media screen and (min-width: 1001px) and (max-width: 1280px) {}

@media screen and (min-width: 780px) and (max-width: 1000px) {

    .footer_imprint_text {
        gap: 36px;
    }

    .footer_content {
        padding: 30px 60px;
    }

}

@media screen and (min-width: 480px) and (max-width: 779px) {

    .header_content {
        padding: 24px 30px;
        justify-content: center;
        align-items: center;
    }

    .nav_bar_link_container {
        display: none;
    }

    .footer_imprint_text {
        flex-direction: column-reverse;
        gap: 8px;
    }

    .footer_imprint {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .footer_content {
        padding: 24px 30px;
        align-items: flex-end;
    }

    .footer_responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--secondary-yellow-color);
        padding: 24px 30px;
    }
}

@media screen and (max-width: 478px) {

    .header_content {
        padding: 16px 5px;
        justify-content: center;
        align-items: center;
    }

    .nav_bar img {
    height: 56px;
}

    .nav_bar_link_container {
        display: none;
    }

    .footer_imprint_text {
        flex-direction: column-reverse;
        gap: 8px;
    }

    .footer_imprint {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .footer_content {
        padding: 30px 24px;
        align-items: flex-end;
    }

    .footer_content p{
        font-size: 12px;
    }

    .footer_content a{
        font-size: 12px;
    }

    .footer_content img{
        height: 24px;
        width: auto;
    }

    .footer_responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--secondary-yellow-color);
        padding: 24px 30px;
    }

    .footer_responsive img{
        height: 40px;
    }

}