.imprint {
  padding: 56px 120px 90px;
}

.imprint h1 {
  padding: 16px;
  font-family: "Arima";
  font-weight: 600;
}

.imprint p {
  padding: 16px;
  font-family: "Palanquin";
}

.imprint h2 {
  padding: 16px ;
  font-family: "Arima";
}

body {
  --sb-track-color: #1b1103;
  --sb-thumb-color: #4ea487;
  --sb-size: 10px;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
  border: 1px solid #f1c953;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@media screen and (min-width: 1440px) {
  .imprint {
    padding: 56px max(120px, calc(50% - 720px)) 90px;
  }
}

@media screen and (max-width: 479px) {
  .imprint {
    padding: 56px 15px 130px;
  }
}

@media screen and (min-width: 480px) and (max-width: 779px) {
  .imprint {
    padding: 56px 30px 95px;
  }
}

@media screen and (min-width: 780px) and (max-width: 1280px) {
  .imprint {
    padding: 56px 60px 95px;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1439px) {
  .imprint {
    padding: 56px 90px;
  }
}
