main {
  display: flex;
  flex-direction: column;
  padding: 120px;
}

.landing_page {
  height: 500px;
  display: flex;
  width: 100%;
  position: relative;
}

.landing_page_text {
  position: absolute;
  z-index: 3;
}

.index {
  position: absolute;
  z-index: 2;
}

/* .index2 {
  position: relative;
  z-index: 1;
} */

h3 {
  font-family: "Arima";
  font-weight: 700;
  color: var(--font-color-gray);
  font-size: 3.75rem;
}

.landing_page_text > p {
  font-family: "Palanquin";
  color: var(--font-color-gray);
  font-size: 1.75rem;
}

.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 56px;
}

.contact_form p {
  font-family: "Palanquin";
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--font-color-gray);
  text-align: center;
}

.heading_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding: 0 56px;
}

.heading_contact img {
  /* border: 1px solid var(--secondary-yellow-color);
  padding: 5px; */
  width: 48px;
  height: auto;
}

.heading_contact p {
  font-size: 3.5rem;
  color: var(--primary-green-color);
  font-family: "Arima";
  font-style: normal;
  font-weight: 700;
}

.info {
  line-height: 150%;
  padding: 16px 0 56px 0;
}

.faq_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 56px;
  gap: 16px;
}

.faq_heading > img {
  width: 48px;
}

.faq_wrapper {
  display: flex;
  flex-direction: column;
  padding: 48px 0px;
  gap: 32px;
}

.faq_box {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-yellow-color);
  border-radius: 12px;
  padding: 16px 14px;
}

.faq_box > summary {
  width: 100%;
  font-family: "Palanquin";
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--font-color-gray);

  display: flex;
  justify-content: space-between;
}

details[open] img{
transform: rotate(180deg);
}

.faq_box > p {
  font-family: "Palanquin";
  color: var(--font-color-gray);
  background-color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 5px;
}

.contact_form {
  display: flex;
  justify-content: center;
}

.contact_form_inputs {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact_inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 17px;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.input_form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

label {
  font-family: "Palanquin";
  font-weight: 500;
  font-size: 1.5rem;
}

textarea {
  resize: none;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid var(--font-color-gray);
}

.container {
  display: flex;
  justify-content: center;
  gap: 12px;

  font-family: "Palanquin";
  font-weight: 400;
  font-size: 15px;
}

input[type="checkbox"]:hover {
  color: var(--secondary-yellow-color);
}

s {
  color: var(--primary-green-color);
  font-weight: 500;
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  width: 140px;
  height: 50px;
  background-color: var(--primary-green-color);
  border-radius: 40px;
  padding: 10px;
  font-family: "Arima";
  font-size: 24px;
  font-weight: 700;
  color: var(--secondary-yellow-color);
}

@media screen and (min-width: 1440px) {
  .landing_page {
    padding: 0 max(120px, calc(50% - 720px));
  }

  .header_content {
    padding: 32px max(120px, calc(50% - 720px));
  }

  .main_content {
    padding: 32px max(120px, calc(50% - 720px));
  }

  .footer_content {
    padding: 60px max(120px, calc(50% - 720px));
  }
}
