main {
  display: flex;
  flex-direction: column;
  padding: 0 120px 120px 120px;
}

h3 {
  font-family: "Arima";
  font-weight: 700;
  color: var(--font-color-gray);
  font-size: 3.75rem;
}
.header_pic {
  display: flex;
  flex-direction: column;
  padding: 0px max(0px, calc(50% - 720px));
  

}
.header_pic_wrapper {
  position: relative;
  overflow: hidden;
  height: 515px;
}

.header_pic_wrapper img, 
.landing_page_text {
  position: absolute;
  transition: transform 0.8s ease-in-out;
}

.landing_page_text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  animation: slideInText 1s forwards 0.5s;
  z-index: 10;
}

@keyframes slideInText {
  to {
    transform: translate(-50%, -50%);
  }
}

.landing_page_text {
  animation: 
    slideInText 1s forwards 0.5s, 
    shiftLeftText 2s forwards 4s; 
}
.bild_gelb_2 {
  z-index: 5;
  animation: shiftLeft 2s forwards 4s;
}
.bild_gelb_3 {
  position: absolute;
  top: 0;
  left: 0;
  
  z-index: 4;
}
@keyframes shiftLeft {
  to {
    transform: translateX(-70%);
  }
}
@keyframes shiftLeftText {
  from { transform: translate(-50%, -50%); }
  to { transform: translate(-180%, -50%); } /* Text wandert mit nach links */
}
.bild_gelb_4 {
  z-index: 1;
}

.landing_page_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  width: 345px;
}
.landing_page_text > p {
  font-family: "Palanquin";
  color: var(--font-color-gray);
  font-size: 1.75rem;
  line-height: 1.1;
}

.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 56px;
}

.contact_form p {
  font-family: "Palanquin";
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--font-color-gray);
  text-align: center;
}

.heading_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding: 0 56px;
}

.heading_contact img {
  /* border: 1px solid var(--secondary-yellow-color);
  padding: 5px; */
  width: 48px;
  height: auto;
}

.heading_contact p {
  font-size: 3.5rem;
  color: var(--primary-green-color);
  font-family: "Arima";
  font-style: normal;
  font-weight: 700;
}

.info {
  line-height: 150%;
  padding: 16px 0 56px 0;
}

.faq_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 56px;
  gap: 16px;
}

.faq_heading > img {
  width: 48px;
}

.faq_wrapper {
  display: flex;
  flex-direction: column;
  padding: 48px 0px;
  gap: 32px;
}

.faq_box {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-yellow-color);
  border-radius: 12px;
  padding: 16px 14px;
}

.faq_box > summary {
  width: 100%;
  font-family: "Palanquin";
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--font-color-gray);

  display: flex;
  justify-content: space-between;
}

details[open] img {
  transform: rotate(-180deg);
  transition: transform 0.5s ease;
}

.faq_box > p {
  font-family: "Palanquin";
  color: var(--font-color-gray);
  background-color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 5px;
}

.contact_form {
  display: flex;
  justify-content: center;
}

.contact_form_inputs {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact_inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 17px;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.input_form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

label {
  font-family: "Palanquin";
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--font-color-gray);
}

textarea {
  resize: none;
  width: 100%;
  height: 50px;
  outline: none;
  caret-color: var(--primary-green-color);

  font-family: "Palanquin";
  font-weight: 500;
  color: var(--primary-green-color);
  font-size: 1.5rem;
  line-height: 150%;

  border: none;
  border-bottom: 1px solid var(--font-color-gray);
}

.container {
  display: grid;
  grid-template-areas:
   "input label" 
   ". p";
  grid-template-columns: 1em auto;
  row-gap: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 540px;

  gap: 15px;
}

.container label {
  font-family: "Palanquin";
  font-weight: 400;
  font-size: 15px;
  color: rgba(84, 55, 13, 1);
  grid-area: label;
}

.container p {
  font-family: "Palanquin";
  font-weight: 400;
  font-size: 14px;
  color: rgba(185, 16, 47, 1);
  grid-area: p;

  display: none;
}

input[type="checkbox"] {
  appearance: none;
  margin: 0;
  grid-area: input;

  font: inherit;
  color: rgba(84, 55, 13, 1);
  width: 24px;
  height: 24px;
  border: 0.15em solid rgba(84, 55, 13, 1);
  border-radius: 4px;
  transform: translateY(2px);

  display: grid;
  place-content: center;
}

input[type="checkbox"]:not(:disabled):hover {
  box-shadow: inset 2em 1em var(--secondary-yellow-color);
}

input[type="checkbox"]::before {
  content: url(/assets/icons/check.svg);
  width: 24px;
  height: 24px;
  transform: scale(0);
  border-radius: 3px;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 2em 1em var(--primary-green-color);
  display: grid;
  place-content: center;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}




s {
  color: var(--primary-green-color);
  font-weight: 500;
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 44px 0 60px 0;
}

button[type="submit"] {
  width: 140px;
  height: 50px;
  background-color: white;
  gap: 10px;

  border-radius: 40px;
  border-color: rgba(48, 48, 48, 0.5);

  padding: 10px;

  font-family: "Arima";
  color: var(--button-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;

  transition: all 250ms ease-in-out;
}

button:hover {
  border: none;
  background-color: var(--primary-green-color);

  color: var(--secondary-yellow-color);
}

button:active {
  /* https://smoothshadows.com/#djEsMSw1LDAuMyw0LDQsMCwjNGVhNDg3LCNmM2Y0ZjYsI2ZmZmZmZiwy */
  box-shadow:
    0px 0px 0px rgba(78, 164, 135, 0.06),
    0px 1px 1px rgba(78, 164, 135, 0.12),
    0px 1px 1px rgba(78, 164, 135, 0.18),
    0px 3px 3px rgba(78, 164, 135, 0.24),
    0px 4px 4px rgba(78, 164, 135, 0.3);
}

@media screen and (min-width: 1440px) {
  .landing_page {
    padding: 0 max(120px, calc(50% - 720px));
  }

  .header_content {
    padding: 32px max(120px, calc(50% - 720px));
   
  }

  .main_content {
    padding: 88px max(120px, calc(50% - 720px));
  }

  .footer_content {
    padding: 60px max(120px, calc(50% - 720px));
  }
}
