.video_main {
    padding: 88px 120px;
}

.video_heading {
    display: flex;
    justify-content: space-between;
}

.video_heading_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}

.video_heading_text>h3 {
    font-family: 'Palanquin';
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 120%;
    color: var(--primary-green-color);
}

.video_heading_text>h2 {
    font-family: 'Arima';
    font-weight: 700;
    font-size: 4rem;
    line-height: 120%;
    color: var(--secondary-yellow-color);
}

.video_heading_text>p {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 110%;
    color: var(--font-color-gray);
}

.video_heading_counter {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.video_heading_counter_wrap {
    display: flex;
    gap: 32px;
}

.video_heading_counter_wrap p {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    color: var(--font-color-gray);
}

.video_heading_counter>img {
    width: 16px;
}

.video_heading_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    background-color: var(--background-green);
    border-radius: 30px;
    padding: 16px;
}

.video_heading_about>img {
    justify-content: center;
    height: 120px;
    width: 120px;
}

.video_heading_about h3 {
    font-family: 'Arima';
    font-weight: 700;
    font-size: 1.13rem;
    color: var(--font-color-gray);
    text-align: center;
}

.video_heading_about h4 {
    font-family: 'Arima';
    font-weight: 400;
    font-size: 1.13rem;
    color: var(--font-color-gray);
    text-align: center;
}

.video_heading_about p {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1rem;
    color: var(--font-color-gray);
    text-align: left;
    line-height: 120%;
}

.video_video {
    display: flex;
    flex-direction: column;

    padding: 60px 0px;
}

.video_video>p {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    color: var(--font-color-brown);
}

.video_play {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 60px;
}

.video_play iframe {
    border-radius: 50px;
    height: 520px;
    width: auto;
    aspect-ratio: 16 / 9;
}

/* .video_writing{
    padding-bottom: 100px;
} */

.video_writing p {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    color: var(--font-color-brown);
    padding: 20px 0px;
}

.video_writing li {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    color: var(--font-color-brown);
    padding-left: 8px;
}

.video_writing li::marker {
    font-size: 0.8rem;
}

.video_writing ul {
    padding: 20px 30px;
}

.video_writing{
    padding: 80px 0px;
}

.video_tipps_textbox {
    display: flex;
    flex-direction: column;
   position: relative;
    
}

.video_tipps_textbox img {
    z-index: 2;
    height: auto;
    width: 190px;
    padding-top: 20px;
    position: absolute;
    top: -90px ;
    left: -40px;
}


.video_tipps_list {
    background-color: var(--background-green);
    max-width: 1000px;
    border-radius: 30px;
    padding: 15px;
    z-index: 1;
}

.video_tipps_list li {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    color: var(--font-color-brown);
    padding: 0px 8px;
}

.video_tipps_list a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-green-color);
}


.video_tipps_list li::marker {
    padding-left: 8px;
}

.video_pro_tipps {
    display: flex;
}

.video_tipps_sharebox {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 88px;
    position: relative;

}

.video_tipps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px ;
}

.video_tipps_sharebox>p {
    font-family: 'Arima';
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 120%;
    color: var(--font-color-gray);
    text-align: center;
    z-index: 1;
}

.video_tipps_sharebox>img{
    height: 65px;
    width: 100px;
    position: absolute;
    z-index: 2;
    /* left: -50px; */
}

.video_tipps_sharebox>button{
    z-index: 1;
}