header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--primary-green-color);
    width: 100%;
    padding: 32px 120px;
}

.nav_bar {
    display: flex;
    align-items: center;
    gap: 100px;
}

.nav_bar_link {
    position: relative;
}

.nav_bar_link img {
    position: absolute;
    top: 50%;
    left: -5%;
    display: none;
}

/* .nav_bar_link img:hover {
    display: unset;
} */


.nav_bar a {
    width: 100%;
    font-family: 'Arima';
    font-size: 1.5rem;
    color: rgba(248, 245, 235, 1);
    text-decoration: none;
}

.nav_bar a:hover {
    color: var(--secondary-yellow-color);
}


.nav_bar>img {
    height: 72px;
}

/* Content */

.video_main{
    padding: 88px 120px;
}

.video_heading{
    display: flex;
    justify-content: space-between;
}

.video_heading_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}

.video_heading_text>h3{
    font-family: 'Palanquin';
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 120%;
    color: var(--primary-green-color);
}

.video_heading_text>h2{
    font-family: 'Arima';
    font-weight: 700;
    font-size: 4rem;
    line-height: 120%;
    color: var(--secondary-yellow-color);
}

.video_heading_text>p{
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 110%;
    color: var(--font-color-gray);
}

.video_heading_counter{
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.video_heading_counter_wrap{
    display: flex;
    gap: 32px;
}

.video_heading_counter>img{
    width: 16px;
}

.video_heading_about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: var(--background-green);
    border-radius: 30px;
    padding: 10px;
}

.video_heading_about>img{
    justify-content: center;
    height: 120px;
    width: 120px;
}

.video_heading_about h3{
    font-family: 'Arima';
    font-weight: 700;
    font-size: 1.13rem;
    color: var(--font-color-gray);
    text-align: center;
}

.video_heading_about h4{
    font-family: 'Arima';
    font-weight: 400;
    font-size: 1.13rem;
    color: var(--font-color-gray);
    text-align: center;
}

.video_heading_about p{
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 1rem;
    color: var(--font-color-gray);
    text-align: center;
    line-height: 120%;
}


/* footer */

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-green-color);
    width: 100%;
    padding: 60px 120px;
}

.footer_imprint {
    display: flex;
    align-items: center;
}

.footer_imprint>img {
    height: 24px;
    padding: 4px;
}

.footer_imprint_text {
    display: flex;
    gap: 72px;
}

.footer_imprint_text>p {
    font-family: 'Palanquin';
    color: rgba(248, 245, 235, 1);
    white-space: nowrap;
    font-size: 1rem;
}

.footer_imprint_text>a {
    font-family: 'Palanquin';
    color: rgba(248, 245, 235, 1);
    white-space: nowrap;
    font-size: 1rem;
    text-decoration: none;
}

.footer_socialmedia {
    display: flex;
    gap: 16px;
}